﻿* {
     font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
}



header.main {
    position: relative;
}


.top-bar {
    background-color: #000;
    height: 30px;
    color:#fff;
    padding-top: 4px;
}

.top-bar .contato {
    text-align: right;
}

.top-bar .contato span {
    display: inline-block;
    margin: 0 8px 0 8px;
}

.top-bar .contato i {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
}

.top-bar .horarios i {
    display: inline-block;
    margin-right: 10px;
}


.banners-area {
    height: 533px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #333;
} 

.bx-viewport {height: 535px !important;}

.banners {}

.banners .banner img {
    width: 100%;
    position: absolute;
    top:0;
}

.banners .banner img {
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
}

.banners-mask {
    position: absolute;
    top:-200px;
    width: 100%;
    background: #000;
    opacity: 0.65;
    height: 900px;
    z-index: 90;
}

.banners .banner .banner-conteudo {
    position: relative;
    z-index: 100 !important;
    padding-top: 231px;
}

.banners .banner .banner-conteudo h2 {
    color:#d4b379;
    font-size:3.5em;
    width: 100%;
    text-align: center;
}

.banners .banner .banner-conteudo p {
    display: block;
    width: 100%;
    color:#fff;
    text-align: center;
    font-size: 1.5em;
}

header .front-of-slider {
    width: 100%;
    position: absolute;
    top: 34px;
    z-index: 1000;
}

h1.logo {
    width: 256px;
    height: 60px;
    margin-top: 20px;
    background: url("../img/astrid-oro.png") no-repeat top center;
    z-index: 1000;
}

.logo span {
    display: none;
}

.sliders {
    height: 535px;
}

nav.menu-principal {
    height: 95px;
    background-color: #f2f2f2;
    padding-top: 20px;
}

nav.menu-principal a {
     display: inline-block;
     padding-right: 22px;
     font-family: "Times New Roman", Georgia, Serif;
     color:#616161;
     font-size: 1.3em;
     text-transform: uppercase;
     transition: color 0.3s;
}

nav.menu-principal a:hover   {
    color:#d4b379;
}
nav.menu-principal a.active {
    color:#d4b379;
}


nav.menu-principal a:first-child {
    padding-right: 12px;
}

header h3 {
    color:#7b7b7b;
    font-size:3.5em;
    text-align: center;
    text-transform: uppercase;
}

#brindes {
    padding: 110px 0 136px 0;
}

#brindes header {
    margin-bottom: 100px;
}

#brindes article figure {
    margin-bottom: 60px;
}

.brinde figure img {
    display: block;
    margin: 0 auto;
}

.brinde h4 {
    color:#333333;
    font-size: 1.53em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.brinde p {
    font-size: 1.17em;
    text-align: center;
    color:#7b7b7b;
}

#orcamento {
    height: 157px;
    padding-top: 58px;
    background-color: #202020;
}

#orcamento span {
    display: block;
    font-family: "Times New Roman", Georgia, Serif;
    color:#fff;
    font-size: 1.33em;
    text-transform: uppercase;
    padding-top: 10px;
}

#orcamento a {
    font-family: "Times New Roman", Georgia, Serif;
    display: block;
    font-size: 1.33em;
    text-align: center;
    color:#fff;
    border:1px solid #fff;
    width: 203px;
    height: 47px;
    padding-top: 10px;
    
}

#empresa {
    padding: 76px 0 84px 0;
}

#empresa header {
    margin-bottom: 33px;
}

#empresa p {
    display: block;
    padding-top: 40px;
    font-size:1.17em;
    line-height: 1.9em;
    color:#7b7b7b;
}

#tratamentos {
    background-color: #d2cec2;
}

#tratamentos header { 
    padding: 60px 0 50px 0;
    width: 100%;
}

#tratamentos header h3 {
    font-size: 3.5em;
    color:#2c2c2c;
}

#tratamentos article {
    display: block;
    margin-bottom: 25px;
}

#tratamentos article h4 {
    color:#333333;
    font-size: 2.5em;
    margin-bottom: 28px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    position: relative;
}

#tratamentos article h4 span {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1em;
}

#tratamentos article h4 span:nth-child(1)
{
    position: absolute;
    left:0px;
    top:0px;
    text-align: right;
    width: 40%;
}

#tratamentos article h4 span:nth-child(3)
{
    position: absolute;
    right:0px;
    top:0px;
    width: 40%;
    text-align: left;
}

#tratamentos article h4 figure {
    display: block;
    margin: 0 auto;
}

#tratamentos .tratamentos-texto {
    margin-top: 45px;
}

#tratamentos .tratamentos-texto p {
    display: block;
    font-family: "Times New Roman", Georgia, Serif;
    font-size:1.33em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}

#clientes {
    padding: 60px 0 80px 0;
}

#clientes header {
    margin-bottom: 80px;
}

#clientes h3 {
    color:#7b7b7b;
}

#clientes .clientes {
    padding-left:8.33333%;
    padding-right:8.33333%;
    max-height: 130px;
    overflow: hidden;
}

#clientes .clientes article {
    margin-bottom: 150px;
}

#loja {
    background: url("../img/fundo-loja-novo.jpg") no-repeat;
    background-size: 100%;
    background-position-y: 45%;
    height: 327px;
    padding-top: 84px;
    text-align: center;
}

#loja h3 {
    color:#d4b379;
    margin-bottom: 8px;
}


#loja p {
    display: block;
    font-size:1.5em;
    color:#fff;
    text-align: center;
    margin-bottom: 28px;
}

#loja a {
    font-family: "Times New Roman", Georgia, Serif;
    display: block;
    width: 100%;
    color:#fff;
    border:1px solid;
    padding: 15px 10px;
}

#contato {
    background-color:#191919;
    padding: 95px 0 96px 0;
}

#contato h3 {
    color:#d4b379;
    
}

#contato header {
    margin-bottom: 15px;
}

#contato .dados-contato {
    display: block;
    color:#fff;
    font-size:2em;
    font-family: "Times New Roman", Georgia, Serif;
    margin-bottom: 20px;
}

#contato .dados-label {
    display: block;
    font-size: 1.17em;
    color:#fff;
}

.redes-sociais {
    margin-top: 10px;
}

.redes-sociais a {
    display: inline-block;
    width: 25px;
    height: 28px;
    background-repeat: no-repeat;
}

.redes-sociais a:not(:last-child)
{
    margin-right: 48px;
}

.redes-sociais a span {
    display: none;
}

#contato .redes-sociais a.gplus {
    background-image:url("../img/ico-g.png");
}

#contato  .redes-sociais a.facebook {
    background-image: url("../img/ico-f.png");
}

#contato .redes-sociais a.twitter {
    background-image: url("../img/ico-t.png");
}

#contato .redes-sociais a.pintrest {
    background-image: url("../img/ico-p.png");
}

#formulario-orcamento .redes-sociais a.gplus {
    background-image:url("../img/ico-g-2.png");
}

#formulario-orcamento .redes-sociais a.facebook {
    background-image: url("../img/ico-f-2.png");
}

#formulario-orcamento .redes-sociais a.twitter {
    background-image: url("../img/ico-t-2.png");
}

#formulario-orcamento .redes-sociais a.pintrest {
    background-image: url("../img/ico-p-2.png");
}


#contato input, #contato textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 25px;
    font-size: 1.1em;
}

#contato input {
    height: 51px;
}

#contato textarea {
    height: 170px;
}

#contato button {
    width: 170px;
    border:1px solid #fff;
    padding: 15px 10px;
    color:#fff;
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#mapa {
    height: 274px;
    overflow: hidden;
}

#mapa img {
   width: 100%;
}

.acf-map {
    width: 100%;
    height: 274px;
    min-height: 50px;
    max-height: 450px;
}

.acf-map img {
   max-width: inherit !important;
}

footer.main {
    background-color: #191919;
    padding: 50px 0 47px 0;
}

footer.main .logo {
    display: block;
    margin-top: 28px;
}

footer.main h5 {
    color:#d4b379;
}


footer.main nav a {
    display: block;
    color:#808080;
    font-size: 1.17em;
    margin-bottom: 5px;
    transition: color 0.8s;
} 

footer.main nav a:hover {
    color:#ffffff;
}

footer.main .newsletter {
    padding: 0 47px 0 47px;
}

footer.main .newsletter input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color:#535353;
    padding: 20px 0 20px 28px;
    border:0;
    color:#9b9b9b !important;
}

footer.main .newsletter button {
    font-family: "Times New Roman", Georgia, Serif;
    float:right;
    color:#fff;
    font-size:1.67em;
}

/* MENU DAS PÁGINAS INTERNAS */

header.internas .menu-principal{
    background: url("../img/fundo-menu-interna-novo.jpg") no-repeat;
    background-size: 100%;
    background-position-y: 3%;
    height: 150px;
    padding-top: 45px;
}

header.internas .menu-principal nav {
//    padding-top: 10px;
}

header.internas .menu-principal a {
    color:#fff;
}

header.internas .menu-principal a:hover {
    color:#d4b379;
}

header.internas .menu-principal a.active {
    color:#d4b379;
}

header.internas .menu-principal .ajusta-alinhamento-menu {
    padding-top: 20px;
}

/* PRODUTOS */

#produtos {
    margin-bottom: 30px;
}

header.section-header {
    margin-bottom: 55px;
}

header.section-header nav {
    text-align: center;
    padding-top: 36px;
    background-color: #f2f2f2;
    height: 95px;
    margin-bottom: 55px;
}

header.section-header nav a {
    display: inline-block;
    color:#202020;
    font-size: 1.33em;
    margin-right: 25px;
    
}

header.section-header nav a:hover {
    border-bottom: 2px solid #d4b379;
}

header.section-header nav a.active {
    border-bottom: 2px solid #d4b379;
}

header.section-header h3 {
    color:#2c2c2c;
    text-align: left;
    font-size: 2.5em;
}

#produtos article {
    margin-bottom: 30px;
}

#produtos article figure {
    width: 100%;
    height: 218px;
    overflow: hidden;
    text-align: center;
    
}

#produtos article figure img {
    -ms-transform: translate(0,-22px); /* IE 9 */
    -webkit-transform: translate(0,-22px); /* Safari */
    transform: translate(0,-22px);
}

#FAQ {
    margin-top: 52px;
    margin-bottom: 117px;
}

#FAQ h3 {
    color:#2c2c2c;
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 50px;
}

#FAQ h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.17em;
    color:#7b7b7b;
    margin-bottom: 2px;
}

#FAQ h4 {
   color:#7b7b7b;
   font-size: 2.5em;
   margin: 75px 0 81px 0;
}

#quem-somos {
    
}

#quem-somos .texto-colunas{
   -moz-column-count: 2;
   -moz-column-gap: 1.875rem;
   -moz-column-rule: 0;
   -webkit-column-count: 2;
   -webkit-column-gap: 1.875rem;
   -webkit-column-rule: 0;
}

#quem-somos .texto-colunas p {
    line-height: 1.7em;
    margin-bottom: 20px;
}

#quem-somos .texto-colunas p.wp-caption-text{
    display: block;
    height: 41px;
    width: 97.9%;
    text-align: center;
    color:#fff;
    font-size: 1.17em;
    background-color: #202020;
    padding-top: 10px;
}

#quem-somos h3 {
    color:#2c2c2c;
    margin: 80px 0 28px;
}

#clientes_interna h3 {
    color:#2c2c2c;
    margin: 80px 0 28px;
}

#clientes_interna .clientes {
    padding-left:4.15%;
    padding-right:4.15%;
}

#clientes_interna .clientes article {
    margin-bottom: 15px;
    min-width: 20%;
}

#clientes_interna .clientes article  figure {
    width: 100%;
    height: 160px;
    overflow: hidden;
    text-align: center;
    
}

#selo_500 {
    background-color: #202020;
}

#selo_500 div.selo-texto {
    display: block;
    text-align: justify;
    float: right;
    width: 372px;
    height: auto;
    font-size: 1.17em;
    color:#7b7b7b;
    margin-top: 4.5%;
    margin-right: 2.5%;
    
}
    #selo_500 div.selo-texto p{
        color: #fff;
    }

#principios {
    padding: 90px 0 90px 0;
}

#principios h4 {
    text-align: center;
    color:#d4b379;
    font-size: 1.33em;
    margin-bottom: 20px;
}

#principios p {
    text-align: center;
    font-size: 1.17em;
    color:#7b7b7b;
} 


#formulario-orcamento {
    padding: 85px 0 90px 0;
}

#formulario-orcamento h3 {
    color:#333333;
    font-size: 2.5em;
}

#formulario-orcamento p {
    display: block;
    color:#333333;
    font-size: 1.17em;
    margin-bottom: 54px;
}

#formulario-orcamento input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
    background-color: #f4f4f4;
    box-shadow:none;
    padding-left: 20px;
}

#formulario-orcamento select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
    background-color: #f4f4f4;
    box-shadow:none;
}

#formulario-orcamento textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:0;
    background-color: #f4f4f4;
    box-shadow:none;
    height: 185px;
    margin-bottom: 25px;
}

#formulario-orcamento input.checkbox
{
    width: 20px;
    height: 20px;
    display: none;
}

#formulario-orcamento .checks {
    padding: 15px 0 15px 10px;
}


#formulario-orcamento .checks label
{
    width: 164px;
    margin-bottom: 25px;
    display: inline-block;
    cursor: pointer;
}

#formulario-orcamento .checks label:not(:nth-child(3n+6))
{
    margin-right: 27px;
}

#formulario-orcamento .checks label:nth-child(3n+6)
{
    width: 177px;
    margin-right:0px;
}

#formulario-orcamento .checks label span{
    display: inline-block;
    font-size:12px;
    color:#999999;
    position: relative;
    top:-7px;
}

#formulario-orcamento .checks label i{
    width: 22px;
    display: inline-block;
    font-size:1.67em;
    color:#999999;
    margin-right: 20px;
    overflow: hidden;
}

.checks label {
    position: relative;
    top:-5px;
}


#formulario-orcamento button {
    font-family: "Times New Roman", Georgia, Serif;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
    width: 100%;
    color:#333;;
    border:1px solid #000;
    padding: 15px 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 170px;
}

#formulario-orcamento .screen-reader-response ul {
    display: none;
}


#formulario-orcamento figure.logo {
    margin: 103px 0 40px 0;
}


#formulario-orcamento .dados-contato , #formulario-orcamento .dados-label {
    display: block;
}

#formulario-orcamento .dados-label {
    color:#191919;
    font-size: 1.17em;
    margin-bottom: 10px;
}

#formulario-orcamento .dados-contato {
    font-family: "Times New Roman", Georgia, Serif;
   margin-bottom: 20px; 
   font-size:1.9em;
}

#formulario-orcamento .selo {
    margin-top: 57px;
    text-align: center;
}

.min-footer {
    background-color: #262626;
    color:#808080;
    font-size:1em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.min-footer span {
    display: block;
    margin-bottom: 3px;
    text-align: center;
}

.min-footer a {
   color:#808080; 
}

#obrigado {
    min-height: 400px;
    padding-top: 100px;
}

#obrigado h3 {
    text-align: center;
    font-size: 3.5em;
    color:#2c2c2c;
    margin-bottom: 24px;
}

#obrigado p {
    display: block;
    font-size: 1.17em;
    text-align: center;
    margin-bottom: 35px;
}

#obrigado a {
    font-family: "Times New Roman", Georgia, Serif;
    display: block;
    width: 100%;
    color: #333;
    border: 1px solid #000;
    padding: 15px 10px;
    width: 170px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.33em;
    text-transform: uppercase;
} 

/* Small */
@media screen and (max-width: 39.9375em) {
    
    .responsive-menu {
        display: block;
    }
    
    a.responsive-menu-call {
        display: block;
        font-size: 2.1em;
        width: 32px;
        height: 32px;
        color:#fff;
        background-color: #d4b379;  
        margin-top: 9px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    a.responsive-menu-call i {
        display: block;
        position: relative;
        top:4px;
        left: 5px;
    }
    
    a.responsive-menu-call:hover {
        background-color: #535353;
    }
    
    .responsive-menu nav {
        margin-top: 20px;
        height: 0px;
        overflow: hidden;
    }
    
    .responsive-menu nav a {
        display: block;
        width: 100%;
        font-family: "Times New Roman", Georgia, Serif;
        color:#616161;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 3px;
        text-align: center;
    }
    
    .responsive-menu nav a:hover {
        background-color: #d4b379;
    }
    
    .responsive-menu .responsive-menu-mask {
        height: auto;
    }
    
    header .top-bar , header .front-of-slider , header .banners-area , header .menu-principal {
        display: none;
    } 
    
    header h3 {
        font-size:2.5em;
    }
    
    #brindes {
            padding: 30px 0 40px 0;
    }
    
    #orcamento {
        height: auto;
        padding: 46px 0 52px 0;
    }
    
    #orcamento span {
        text-align: center;
        line-height: 1.3em;
        margin-bottom: 38px;
    }
    
    #orcamento a {
        margin: 0 auto;
    }
    
    #empresa img {
        display: none;
    }
    
    #empresa p {
        text-align: center;
    }
    #tratamentos .tratamentos-img
    {
        display: none;
    }
    
    #tratamentos header h3 {
        font-size:2.5em;
    }
    
    #clientes {
        display: none;
    }
    
    
    #loja {
        display: none;
    }
    
    #mapa {
        height: 344px;
    }
    
    .acf-map {
        height: 204px;
    }
    
    #contato {
       padding: 42px 0 42px 0;
    }
    
    #contato .dados-contato  {
        font-size: 1.8em;
    }
    
    .contato-form {
        display: none;
    }
    
    .redes-sociais a:not(:last-child) {
        margin-right: 39px;
    }
    
    .newsletter {
        display: none;
    }
    
    footer.main {
        padding: 40px 0 40px 0;
    }
    
    
    footer.main .informacoes {
        display: none;
    }
    
    footer.main .logo {
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
    }
    
    header.internas .menu-principal {
        display: none;
    }
    
    #formulario-orcamento .logo {
        display: none;
    }
    
    
    #quem-somos .texto-colunas{
       -moz-column-count: 1;
       -moz-column-gap: 0;
       -moz-column-rule: 0;
       -webkit-column-count: 1;
       -webkit-column-gap: 0;
       -webkit-column-rule: 0;
    }

    #quem-somos .texto-colunas p {
        line-height: 1.7em;
        margin-bottom: 20px;
    }
    
    #quem-somos .wp-caption {
        width: 98% !important;
    }

    #quem-somos .texto-colunas p.wp-caption-text{
        display: block;
        height: 41px;
        width: 100%;
        text-align: center;
        color:#fff;
        font-size: 1em;
        background-color: #202020;
        padding-top: 10px;
    }
    
    #selo_500 img {
        display: none;
    }
    
    #selo_500 div.selo-texto {
        display: block;
        text-align: justify;
        float: none;
        width: 100%;
        height: auto;
        font-size: 1.02em;
        color:#7b7b7b;
        margin-top: 4.5%;
        margin-right: 2%;
        margin-left: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #selo_500 div.selo-texto p {
        line-height: 1.4em;
    }
    
    

    
     
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

.btnOrcamento{
    border: solid 1px #ccc;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
    .btnOrcamento:hover{
        background: #ccc;
        color: #fff;
    }






